* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


:root {
    --gray-color: rgb(241, 241, 241);
    --light-gray-color: rgb(238, 237, 237);
    --accent-color: #3b82f6;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 40vw;
    height: 100vh;
    background-color: orange;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.hero-img {
    height: 100vh;
}


.form-container {
    width: 600px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 70px;
}


.header p:nth-child(1) {
    font-weight: 600;
    font-size: 42px;
}

.header p:nth-child(n+2) {
    font-weight: 300;
    font-size: 14px;
}

form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 24px;
   /* background-color: blue; */
}

.email-row {
    grid-column: 1 / -1;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 13px;
    font-weight: 500;
}

input {
    font-size: 24px;
    padding-left: 6px;
    padding-right: 6px;
    height: 40px;
    background-color: var(--gray-color);
    border: 1px solid var(--light-gray-color);
    border-radius: .25rem;
    transition: .2s ease;
}

input:focus {
      outline: 2px solid var(--accent-color);
      box-shadow: 0 3px 8px rgba(59, 131, 246, 0.50);

}

#user-password:invalid,
#confirm-password:invalid {
    outline-color: red;
    box-shadow: none;
}