* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-img {
    height: 100vh;
    /* height: 200px; */
}

.form-container {
    width: 100%;
    background-color: red;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


